<div class="car-item" id="car-{{ car.id }}">

    <div class="card car-card">

        {% if show_image %}
            <div class="card-image">

                {% if car.images.first %}
                    <a href="{% url 'platform:car-detail' pk=car.id %}">
                        <img src="{{ car.images.first.image.url }}">
                    </a>
                {% else %}
                    <div class="no-image">
                        Sem imagem
                    </div>
                {% endif %}

                <!-- BADGE -->
                {% if request.user == car.owner %}
                    <div class="plan-badge {{ car.plan.css_class }}">
                        {{ car.plan.badge }}
                    </div>
                {% endif %}

                <!-- FAVORITO -->
                <form method="post"
                      action="{% url 'platform:toggle-favorite' car.id %}"
                      class="favorite-form">

                    {% csrf_token %}

                    {% if is_favorite_page %}

                        <button type="submit"
                                class="favorite-btn remove-favorite">
                            ❌
                        </button>

                    {% else %}

                        {% if car.id not in favorite_ids %}

                            <button type="submit"
                                    class="favorite-btn ajax-favorite-btn">
                                ❤️
                            </button>

                        {% endif %}

                    {% endif %}

                </form>

            </div>
        {% endif %}

        <!-- INFO -->
        <div class="car-info-box">

            <h3 class="car-title">
                {{ car.model }}
            </h3>

            <div class="car-meta">

               <span>
                   <i class="bi bi-car-front"></i>
                   {{ car.manufacturer.name }}
               </span>

                <span>
                   <i class="bi bi-calendar"></i>
                   {{ car.year }}
               </span>

            </div>

            <div class="car-price">
                R$ {{ car.value|floatformat:2 }}
            </div>

            {% if show_description %}
                <div class="car-description mt-3">

                    {{ car.description|linebreaks }}

                </div>
            {% endif %}

            <div class="card-buttons">

                <a href="{% url 'platform:car-detail' pk=car.id %}"
                   class="btn-details">
                    Ver detalhes
                </a>

                <a href="https://wa.me/{{ car.whatsapp|cut:' '|cut:'('|cut:')'|cut:'-' }}"
                   target="_blank"
                   class="btn-whatsapp-card">

                    <i class="bi bi-whatsapp"></i>
                    WhatsApp

                </a>

            </div>

        </div>

    </div>

</div>